<!-- TO BE USED IN THE ACUTAL DASHBOARD PAGE -->
<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            
            <div class="card col s12">
                <div class="card col s6">
                    <div class="card-image waves-effect waves-block waves-light">
                        {{!-- <img class="activator" src="images/office.jpg"> --}}
                    </div>
                    <div class="card-content">
                        {{#each displayed}}
                        {{#if @first}}
                        <h1 id="movieOne">{{title}}</h1>
                        <br>
                        <img src=https://www.themoviedb.org/t/p/w150_and_h225_bestv2/{{poster_path}}>   
                   
                        <span class="card-title activator grey-text text-darken-4"><i
                                class="material-icons right">more_vert</i></span>


                            <button type="button" class="likeBtn" id="increment">Like👍 </button>
                            <button type="button" class="dislikeBtn" id="decrement">Not a fan👎 </button>
                            <button id="watchBtnOne" class="watchBtn" data-id={{title}}>Add to watch list✅</button>
                            <button type="button" onClick="location.href ='comment/{{id}}'" class="commentBtn">Comments</button>

                        <h5>👍 : <span id="count">0</span></h5>
                        <h5>👎 : <span id="downcount">0</span></h5>
                        {{/if}}
                        {{/each}}



                        <script>
                        let count = 1;
                        let downcount = 0;


                        document.getElementById("increment").addEventListener("click", function() {
                        document.getElementById("count").innerHTML = count++;
                        });
                        document.getElementById("decrement").addEventListener("click", function() {
                        document.getElementById("downcount").innerHTML = downcount--;
                        });
                        
                        </script>
                    </div>
                </div>

                <div class="card col s6">
                    <div class="card-image waves-effect waves-block waves-light">
                        {{!-- <img class="activator" src="images/office.jpg"> --}}
                    </div>
                    <div class="card-content">
                        {{#each displayed}}
                        {{#if @last}}
                        <h1 id="movieTwo">{{title}}</h1>
                        <br>
                        <img src=https://www.themoviedb.org/t/p/w150_and_h225_bestv2/{{poster_path}}>

                        <span class="card-title activator grey-text text-darken-4"><i
                                class="material-icons right">more_vert</i></span>


                            <button type="button" class="likeBtn" id="increment2">Like👍 </button>
                            <button type="button" class="dislikeBtn" id="decrement2">Not a fan👎 </button>
                            <button id="watchBtnTwo" type="button" class="watchBtn" data-id={{id}}>Add to watch list✅</button>
                            <button type="button" onClick="location.href ='comment/{{id}}'" class="commentBtn">Comments</button>
                        <h5>👍 : <span id="count2">0</span></h5>
                        <h5>👎 : <span id="downcount2">0</span></h5>
                       {{/if}}
                        {{/each}}



                        <script>
                        let count2 = 1;
                        let downcount2 = 0;
                        document.getElementById("increment2").addEventListener("click", function() {
                        document.getElementById("count2").innerHTML = count2++;
                        });
                        document.getElementById("decrement2").addEventListener("click", function() {
                        document.getElementById("downcount2").innerHTML = downcount2--;
                        });
                        </script>

                    </div>
                </div>
            </div>
        </div>
      <script src="/javascript/watchlist.js"></script>